#danmakuPanelContainer {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: none;
    position: absolute;
    bottom: 15%;
    z-index: 10000;
    left: 0;
    right: 0;
}
#danmakuContaner{
    width: 100%;
}
#currentStatus{
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 10;
    color: white;
    text-shadow: 1px 1px #000000;
}
.Danmaku-stage{
    position: absolute !important;
    height: 100% !important;
}
.danmakuPanel {
    border: 1px solid #c4c4c4;
    height: 100%;
    width: 100%;
    font-size: 36;
    color: white;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    background: rgba(192, 192, 192, 0.50);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    margin-top: 4px;
}
.danmakuPanel:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}
.set-danmaku-button {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #7bc1f7;
	padding:9px 18px;
	text-decoration:none;
	background: rgba(192, 192, 192, 0.50);
	color:#ffffff;
	display:inline-block;
}
.video-js {
    width: 100%;
    height: 100%;
    position: absolute;
}
.vjs-icon-fullscreen-enter, .video-js .vjs-fullscreen-control,.vjs-icon-pause, .video-js .vjs-play-control.vjs-playing {
    font-family: VideoJS;
    font-weight: normal;
    font-style: normal;
    display: none;
}
.player-dimensions {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
}
.vjs-menu li {
    list-style: none;
    margin: 0;
    padding: 0.2em 0;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
    text-transform: lowercase;
    width: 64px;
}
.vjs-tech {
  pointer-events: none;
}
body {
    margin: 0px;
    background: #222;
    text-align: center;
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: radial-gradient(#333, hsl(200, 30%, 6%));
}